@charset "utf-8";
@import url('https://fonts.googleapis.com/css2? família=Fira+Sans:wght@100&display=swap');

@media (max-width:779px){
    main  {
       
        flex-wrap: wrap-reverse;
        
    }
    main img {
        margin-left: 150vw;
        
        
    }
    section.p1 {
     padding-top: 70px;   
        
    }
    .article{
        width: 100vw;
        padding-left:60vw;
    }
    #pizza section {
       
        margin-left: 125vw;
        
    }

    header div.pesquisar a img{
        width: 40px;
        height: 40px;
       
    }
    div.pesquisar a{
        margin-right: 26px;
        
    }
    
   
}

.mobile-menu  {
    display: none;
    cursor: pointer;
}
.mobile-menu div {
    
    width: 32px;
    height: 2px;
    background: black;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 779px) {
    body {
        overflow-x:hidden;
    }

    .nav-list {
        position: absolute;
        top: 15vh;
        right: 0;
        width: 240vw;
        height: 145vh;
        background: white;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;

    }
    .nav-list li {
        margin-left: 0;
        padding: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navlinkfade {
    from {
        opacity: 0;
        transform: translatex(50px);
    }

    to {
        opacity: 1;
        transform: translatex(0);

    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);

}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);

}


* {
    margin: 0;
    padding: 0;
    
    
}

/* inicio do cabeçalho */
header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
    box-shadow: 0px 929px 372px rgba(0, 0, 0, 0.01), 0px 523px 314px rgba(0, 0, 0, 0.05), 0px 232px 232px rgba(0, 0, 0, 0.09), 0px 58px 128px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    
    
    justify-content: space-between;
    align-items: center;
     
}

div.logo{
    width: 171.38px;
    height: 55.4px;
    

}

nav a:hover {
    color: rgb(255, 42, 0);
}




header nav  a {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #333333;
    text-decoration: none;
    
}

header nav ul {
    display: flex;
    
}

header nav ul li{
    list-style: none;
    padding-right: 36px;
    
}

header nav ul li:last-of-type {
    
    padding-right: 0;
    
}


/* menu de pesquisa e carrinho junto ao sign in */

div.pesquisar{
    display: flex;
    align-items: center;
   
}

div.pesquisar > a.button-menu {
    font-family: 'fira sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;

    padding: 10px 24px 10px 24px;
    background: #f44a25;
    border-radius: 25px;
     
}


div.pesquisar a img{
    width: 24px;
    height: 24px;
   
}

div.pesquisar a{
    margin-right: 26px;
    

}




/*segundo containner bloco da esquerda*/
main {
    display: flex;
    align-items: center;
    justify-content: center;
    
        
}

div#main-esquerda {
    align-items: center;
    width: 100%;
    line-height: 50px;
       
}

div.button-main-1 a{
    text-decoration: none;
    padding: 10px;
    width: 30px;
    border-radius: 20px;
    background-color: rgb(255, 42, 0);
    color: white;
    
}

article h3{
    
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    margin-top: 76px;
    margin-bottom: 76px;
    font-weight: 600;
    line-height: 74px;
    letter-spacing: 0em;
    text-align: center;
    justify-content: center;
    border-radius: nullpx;
    font-size: 36px;
    color: #333333;


}

/*paragrafos do containner  2 bloco esquerdo*/
section.p1 h1 {

    font-weight: 100;
    color: #333333;  
    height: 51px;
    width: 450px;
    font-size: 4.5em;
    margin-bottom: 20px;
    margin-left: 180px;
    font-family: 'Fira Sans', sans-serif;

}

section.p2 {
    
    height: 51px;
    width: 450px;
    font-size: 46px;
    font-weight: 300;
    font-family:'Fira Sans', sans-serif; 
    margin-bottom: 20px;
    margin-left: 180px;


   
}

section.p3 h3 {
    
    font-weight: 100;
    color: #333333;
    height: 51px;
    width: 450px;
    font-family:'Fira Sans', sans-serif; 
    font-weight: 300px;
    font-size: 36px;
    margin-left: 180px;
    
}


/* containner 2 direito com a imagem da pizza */

div#main-direira  img {
    margin-right: 79px;
    margin-top: 178px;
    height: 548px;
    width: 659px;


}

/*button de order online*/
div.button-main-1 {
    height: 51px;
    width: 574px;
    font-family:'Fira Sans', sans-serif; 
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    margin-top: 20px;
    margin-left: 180px;
   
}

div.button-main-1 a:last-of-type{
    margin: 50px;

}

/*Seção de compras o footer é o containner pai*/

footer {

    width: 100%;
    height: 500px;    
    display: flex;
    justify-content: center;
    align-items: center;
   
}


footer#pizza section a {
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(255, 42, 0);
    color: white;
    
}


footer section h4 {
    margin-top: 30px;
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    

}

footer section h5 {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
    color: #333333;


}

footer section p {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    

}

footer section div {
    margin-top: 20px;
    color: #333333;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    
}

footer#pizza { 
    flex-wrap: wrap;
    gap: 60px;
   
}
 
       /*cardapio*/
section.pizza-1 {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    height: 486px;
    width: 290px;
    border-radius: 30px;   
    border: 0.8px solid #BDBDBD;

}

section.pizza-2 {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    height: 486px;
    width: 290px;
    border-radius: 30px;
    border: 0.8px solid #BDBDBD;

}

section.pizza-3 {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    height: 486px;
    width: 290px;
    border-radius: 30px;   
    border: 0.8px solid #BDBDBD;

}